<div class="container mt-5">

    <%= link_to 'Volver', products_path %>

    <div class="card mt-3">
        <div class="card-body">
            <h2 class="card-title mb-4">
                <span>Editar Producto</span>
            </h2>

            <%= render 'form', product: @product %>
        </div>
    </div>    
</div>
