<h2 class="my-5"> Productos  </h2>
<div class="d-flex">
<%= link_to "Nuevo Producto", new_product_path, method: :get, class: 'btn btn-primary me-auto' %>
<%= link_to "Categorias", categories_path, method: :get, class: 'btn btn-info me-0' %>
</div>
<div class="container mt-3">
    <div class="row">        
    <%= render partial: 'product', collection: @products %>      
    </div>
</div>

