<h2 class="text-center my-5"> <- Conoce nuestro productos -> </h2>
<div class="d-flex">
<%= link_to "Nuevo Producto", new_product_path, method: :get, class: 'btn btn-primary' %>
</div>
<div class="container mt-5">
    <div class="row">        
    <%= render partial: 'product', collection: @products %>      
    </div>
</div>

