<div class="container mt-5">

    <%= link_to 'Volver', categories_path %>

    <div class="card mt-3">
        <div class="card-body">
            <h2 class="card-title mb-4">
                <span>Nueva Categoria</span>
            </h2>

            <%= render "form", category: @category %>
        </div>
    </div>   
     
</div>